@import url(./keyframes.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Monospace font */
  font-family: 'Roboto', sans-serif;
}

.base {
  width: 600px;
  height: 600px;
  overflow-x: hidden;
}

.base div.fullPageLoading {
  position: absolute;
  z-index: -999;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  animation: loadingBackgroundSpinning 5s ease infinite;
}

.base div.fullPageLoadingFadeout {
  animation: fadeOut 1s ease forwards;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  /* liner gradient */
  background: linear-gradient(130deg, #0b89ac, #b83354 43%, #3aa571 58%, #319197 76%);

  /* fixed to top */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.header .rightNav {
  display: flex;
  align-items: center;
  gap: 10px;
}
