.applied {
  overflow: hidden;
}

.applied .searchBar {
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  /* liner gradient */
  background: linear-gradient(98deg, #e5e9ea, #d0cfcf 43%, #ddf7eb 58%, #a4ae8f 76%);
  position: relative;
}

.applied .searchBar .searchInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 10px;
  border-radius: 5px;
}

.applied .searchBar .searchInput:focus {
  border: 1px solid #0b89ac;
}

.applied .searchBar .searchInput::placeholder {
  color: #ccc;
}

.applied .searchBar .searchIcon {
  font-size: 1.2rem;
  color: #0b89ac;
  position: absolute;
  top: 12px;
  right: 20px;
}

.appliedList {
  margin: 5px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.appliedItem {
  line-height: 1.25rem;
  font-size: 0.8rem;
}
