.manuallyForm {
  padding: 5px;
}

.manuallyForm h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.appliedForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appliedForm input {
  width: auto;
  margin: 0 5px 0 0;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
  box-shadow: 0 0 5px #c4c4c4;
}

.appliedForm input[type='submit'] {
  cursor: pointer;
}

.alert {
  box-sizing: border-box;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.alert-success {
  background-color: #28a745;
}

.alert-warning {
  background-color: #ffc107;
}
